/*Created by Naufal Ulinnuha*/
* {padding: 0px; margin: 0px:}
body {margin: 0px; font-family: 'Work Sans'; background-color: #F0F0F0;}
h1,h2,h3,h4,p{color: #3f3f46}
.container {width: 1140px; margin: auto;}
.row {display: flex; flex-wrap: wrap;}
.rounded {border-radius: 0.25rem!important;}
.border {border: 1px solid #dee2e6!important;}
.mx-auto {margin-left: auto; margin-right: auto;}
.bgc {background-image: url(assets/img/bgc.png); background-size: cover; background-repeat: no-repeat; background-position: left bottom;}

header {background-color: #FFF;}
.navbar {overflow: hidden; font-family: 'Quicksand'; font-weight: 600;}
.navbar {padding-bottom: 1rem; padding-top: 1rem;}
.navbar a {padding-left: 1rem; padding-right: 1rem;float: left; display: block; color: #3f3f46; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 14px;}
.navbar a:hover {background-color: #F4F4F5; color: black;}
.navbar .icon {display: none;}
@media screen and (max-width: 800px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {float: right; display: block;}
  .container {width: 100% !important;}
  #content, aside {width: 90% !important;}
}
@media screen and (max-width: 800px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {position: absolute; right: 0;top: 0;}
  .navbar.responsive a {float: none;display: block;text-align: left;}
}


main {overflow: auto; margin-top: 43px; background-color: white; padding-top: 48px}
main .container {background-image: url(assets/img/mitsuha2.png); background-size: 300px; background-repeat: no-repeat; background-position: bottom right;}
article {margin: 0px 0px 40px 0px;}
#content {width: 68%;}
#skills div {background-color: white; color: #3f3f46; text-align: center; margin: 5px; padding: 10px 16px; font-size: 14px;}
#skills div:hover {margin-bottom: 20px; margin-top: -10px; background-color: #F4F4F5; color: black;}
#skills img {width: 20px; height: 20px; margin-right: 10px;}
#skills a {margin: auto;}

aside {width: 28%; font-family: 'Quicksand';}
aside .card {background-color:  white;border: 2px solid rgba(17,197,198,.3); box-shadow: 0 0 0 rgb(17 197 198 / 30%);}
.img-profil {width: 64px; border-radius: 100%; margin: 0px auto}
.social {margin: 20px 0px;}
.social i {margin-right: 10px;}
.social a:hover {background-color: #E0E0E3}
.social a{
		width: -webkit-fill-available;
		background-color: #f4f4f5;
    border-color: #d4d4d8;
    color: #3f3f46;
    cursor: pointer;
    display: inline-block;
    font-size: 16px!important;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 24px;
    outline: 1px solid transparent!important;
    outline-offset: -4px;
    padding: 8px 24px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    text-transform: unset!important;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

footer{width: 100%; background-color: #F4F4F5; font-family: 'Quicksand'; }
footer p {font-size: 13px; margin: auto 0px}






